.safeAreaView{
    background-color: '#f7c894';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gameView{
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* display: flex; */
    /* height: 65.25%; */
   
}
.imageView{
    width: 380;
    height: 537px;
    /* width: 100%;
    height: 100%; */
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.gameContainer{
    width: 95%;
    height: 90%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: aqua;
    overflow: hidden;
    z-index: 2;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
/* .subgameContainer{
    width: 95%;
    height: 100%;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 2;

} */
.zoomableView{
    /* padding-top: 42px; */
}
.imageStyle{
    width: 100%;
    /* width: 100%; */
    height: 100%;
    z-index: -1;
    background-color: aqua;
}
.tokenView{
    align-content: center;
    justify-content: center;
    width:38.5px;
    height:33.9px;
    bottom:7.5%;
    left:8%;
    /* background-color: aqua; */
    position: absolute;
    
}
.token{
    width: 31px;
    height: 16px;
}
.diceView{
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    bottom: 0px;
    height: 7%;
    z-index: 1;
    position: absolute;
    right: 20px;
    padding: 0px;
}
.diceAnimatedView{
    width: 35px;
    height: 35px;
    border-radius: 10px;
}
.blockInformationView{
    margin-top: 0%;
    width: 100%;
    height: 15%;
    justify-content: flex-end;
    max-height: 25%;
    z-index: 9;

}